.headerMobile{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    background: none;
    background-size: cover;
}

.headerMobile .logo{

}