.navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    width: 100%;
    height: 10vh;
    background-color: red;

    /* box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25); */
}

.headerMobile{
    width: 100%;
    margin: 0 auto auto auto;
}

.headerMobile .logo{
    height: 20%;
    width: 50%;
    margin: 0 auto 0 auto;
}

.headerMobile .slogan{
    font-family: "Fira Sans", sans-serif;
    font-size:300% ;
    color: white;
    text-align: center;
    transform: skewY(-5deg);
    font-weight: bold;

}
