.headerMobile{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    background: none;
}

.headerMobile .logo{
    width: 300px;
    height: 300px;
}