.headerMobile{
    width: 100%;
    margin: 0 auto auto auto;
}

.headerMobile .logoDiv{
    object-fit: contain;
    margin: auto;
}

.logoDiv .logo{
    filter:brightness(0%);
    transition: 2s;
    height: 100%;
    width: 100%;
}

.logoDiv .logoBright{
    filter:brightness(100%);
    transition: 2s;
    height: 100%;
    width: 100%;
}

.headerMobile .slogan{
    font-family: "Fira Sans", sans-serif;
    font-size:300% ;
    color: white;
    text-align: center;
    transform: skewY(-5deg);
    font-weight: bold;

}