.aboutUsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background:#000723;
    margin: auto;
}

.aboutUsContainer .title{
    margin: auto;
    font-size: 300%;
    color: white;
    height: 10%;
}


.aboutUsContainer .text{
    height: 90%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.text .card{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.text .card1{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.card .image{
    height: 20%;
}

.image img{
    height: 100%;
    width: 50%;
}

.card .p{
    height: 80%;
}

.p p{
    font-size: 150%;
    color: white;
}




@media (max-width: 900px) {

    .aboutUsContainer{
        width: 100vw;
        margin: auto;
        background:none;
        overflow: scroll;
    }

    .aboutUsContainer .title{
        margin: 10% auto 10% auto;
        color: white;
    }


    .aboutUsContainer .text{
        width: 100%;
        height: 90%;
        flex-direction: column;
        margin: auto;
    }

    .text .card{
        margin: auto;
        width: 80%;
        height: 26%;
        flex-direction: column;
        overflow: scroll;

    }

    .text .card1{
        margin: auto;
        width: 80%;
        height: 48%;
        flex-direction: column;

    }

    .text .image{
        height: 40%;
        width: 50%;
        margin: auto;
    }


    .text .p{
        width: 100%;
        height: 60%;
    }

    .p p{
        font-size: 150%;
    }
}

@media (max-width: 450px) {

    .aboutUsContainer .text{
        width: 90%;
        height: 100%;
    }

    .text .card{
        width: 100%;
    }

    .text .card1{
        width: 100%;
    }

    .p p{
        font-size: 100%;
    }
}