.aboutUsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    overflow: auto;
    position: relative;
    z-index: 1;
    background:#000723;
    margin: auto;
}

.aboutUsContainer .title{
    margin: auto;
    font-size: 300%;
    color: white;
    height: 10%;
}


.aboutUsContainer .text{
    height: 90%;
    width: 80%;
    margin: 0 auto 0 auto;
    text-align: center;
}

.text p{
    font-size: 20px;
    color: white;
}



@media (max-width: 900px) {

    .aboutUsContainer{
        width: 100vw;
        margin: auto;
        background:none;
    }

    .aboutUsContainer .title{
        color: white;
    }


    .horizontal .text{
        width: 100%;
        height: 100%;
    }


    .horizontal .picture1{
        width: 0;
    }

    .horizontal .picture2{
        width: 0;
    }


    .text p{
        font-size: 150%;
        color: white;
    }
}

@media (max-width: 400px) {
    .text p{
        font-size: 14px;
    }
}