.contactUsBox{
    display:flex;
    flex-direction:row;
    height: 60vh;
    width: 40vw;
    margin: auto;
    border-radius: 20px;
    min-width: 300px;
    min-height: 300px;
    max-height: 600px;
    background: rgba(0, 1, 2, 0.53);
    opacity: 1
;
}

.contactUsBox .left{
    height: 100%;
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #FFB4D8;
    flex-direction: column;
}

.left .message{
    margin:auto;
    display:flex;
    justify-content:center;
    align-content:center;
    text-align: center;
    width:60%;
    height:50%;
    font-size: 20px;
}

.contactUsBox .title{
    height:50%;
    margin: auto;
    
}



.title h1{
    font-size: 200%;
    align-self: flex-start;
}

.contactUsBox .form{
    display: flex;
    flex-direction: column;
    height:100% ;
    width: 50%;
    background: none;
}

.form .text{
    height: 80%;
    display: flex;
    flex-direction: column;

}

.text .input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin: auto;
    width: 80%;
    height: 30px;
    background: none;
    color: white;
    font-size: large;
}



.text textarea{
    resize: none;
    height: 30px;
}

.form .formButtonContainer{
    height: 20%;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 90%;
}

.formButtonContainer .button{
    font-size: 120%;
    background: none;
    border: none;
    color: #FFB4D8;
    width: 15%;
    min-width: 60px;
    margin: auto;
    height: 80%;
    cursor: pointer;
    text-align: center;
    font-weight: bold;

}


.formButtonContainer .button:hover{
    background:none ;
    color: white;
    border: none;
}

.contactUsBox .state{
    color: red;
}

@media (max-width :900px) {
    .contactUsBox{
        width:90%;
        height: 80%;
        min-width: 80vw;
        flex-direction: column;
    }

    .contactUsBox .left{
        flex-direction: row;
        width: 100%;
        height: 30% ;
    }

    .left .title{
        width: 30%;
        height: 100%;
       

    }

    .title h1{
        font-size: 150%;
        margin: auto;
    }

    .left .message{
        width: 60%;
        margin: auto;
    }

    .contactUsBox .form{
        width:100%;
        height:70%;
    }
}

