.contactUsBox{
    height: 60vh;
    width: 40vw;
    margin: 0 auto auto auto;
    border:5px solid white;
    border-radius: 20px;
    min-width: 300px;
    min-height: 300px;
    max-height: 600px;
    background: rgba(0, 1, 2, 0.53);
    opacity: 1
;
}

.contactUsBox .title{
    height: 10%;
    display: flex;
    justify-content: center;
    color: white;
}

.title h1{
    font-size: 100%;
}

.contactUsBox .form{
    display: flex;
    flex-direction: column;
    height:90% ;
}

.form .text{
    height: 80%;
    display: flex;
    flex-direction: column;

}

.text .input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin: auto;
    width: 80%;
    height: 30px;
    background: none;
    color: white;
    font-size: large;
}



.text textarea{
    resize: none;
    height: 30px;
}

.form .formButtonContainer{
    height: 20%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.formButtonContainer .button{
    font-size: 100%;
    border: 3px solid white;
    border-radius: 10px;
    background:#041223 ;
    color: white;
    width: 15%;
    min-width: 60px;
    margin: auto;
    height: 80%;
    cursor: pointer;

}


.formButtonContainer .button:hover{
    background:white ;
    color: #001027;
}

.contactUsBox .state{
    color: red;
}

@media (max-width :900px) {
    .contactUsBox{
        min-width: 80%;
    }
}

