.techsContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

.techsContainer .techsTitle{
    margin: auto;
    font-size: 300%;
    color: white;
    height: 15%;
}

.techsContainer .techList{
    overflow: auto;
    width: 50%;
    height: 85%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4,10fr);
    justify-items: center;

}

.techList .item{
    max-height: 20px;
    max-width: 20px;
}

@media (max-width: 900px) {
    .techsContainer .techList{
        width: 100%;
    }

    .techList .item{
        max-height: 15px;
        max-width: 15px;
    }
}