.parallax{
    background: black;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.parallax .background{
    height: 100vh;
    width: 200vh;
}

.parallax .slogan{
  font-family: "Fira Sans", sans-serif;
  font-size:600% ;
  color: white;
  text-align: center;
}


/*mouse outline*/
#scrollIcon {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

/*moving ball*/
#scrollIcon ::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}

/*moving ball animation*/
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

