.header{
    display: flex;
    height: 10vh;
    width: 100%;
    background: none;
    flex-direction: row;
    overflow:hidden ;
    padding: 5px;
}
.header .buttonContainer{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

.buttonContainer .button{
    height: 50%;
    width: 20%;
    min-height: 15px;
    min-width: 40px;
    src: "src/assets/fonts/FivoSans/FivoSans-Thin.otf";
    font-size: 120%;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    margin-right: 10%;
    margin-top: -2%;
}

.button:hover{
    color: #FFB4D8;
}


.header .logo{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    align-content: flex-start;
    margin-left: 1%;

}


.logo img{
    height: 90px;
    margin-top: 0px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .header .logo{
        width: 40%;
    }

    .logo img{
        height: 70px;
    }

    .header .buttonContainer{
        width: 60%;
        margin: auto;
        display: flex;
        justify-content: flex-end;

    }

    .buttonContainer .button{
        width: 50%;
    }
}


